*,
*::after,
*::before {
  box-sizing: border-box;
}

#Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 80px;
    width: 100%;
    padding: 20px 50px;

    background-color: rgba(51,51,51,1);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#Header .name {
    display: flex;
    align-items: center;
}

#Header .title img{
    width: 140px;
    height: auto;
}

#Header .git {
    display: flex;
    align-items: center;
}